# SBT build artifacts
**/target/
*.class

# Scala IDE artifacts  
.bloop/
.metals/
.bsp/

# IDE files
.vscode/
.idea/
*.iml

# Metals LSP files
metals.sbt
**/metals.sbt
project/**/metals.sbt

# Environment files
.envrc
.env

# Other artifacts
.upload.json
*.log
.DS_Store
